<template>
  <overview-info-box :busy="isLoading" :text="rate.toLocaleString()" title="EUR / CZK"/>
</template>
<script>
import axios from 'axios'
import OverviewInfoBox from './OverviewInfoBox'
import MessagingStore from '../../store/modules/messaging'
import {mapMutations} from 'vuex'
import { API_RATE_URL } from '../../.env'
export default {
  name: 'currencyRate',
  components: {
    OverviewInfoBox
  },
  data () {
    return {
      isAlive: true,
      isLoading: false,
      rate: '',
      interval: 5000
    }
  },
  mounted () {
    this.loadRateData()
  },
  beforeDestroy () {
    this.isAlive = false
  },
  methods: {
    ...mapMutations({
      'showError': MessagingStore.SHOW_ERROR
    }),
    loadRateData () {
      if (!this.isAlive) {
        return
      }
      this.isLoading = true
      const promise = axios.get(API_RATE_URL, {})
      return promise.then((payload) => {
        this.rate = payload.data.rate
      }).catch(() => {
        this.showError('Unable to load rate data')
      }).then(() => {
        setTimeout(() => {
          this.loadRateData()
        }, this.interval)
        this.isLoading = false
      })
    }
  }
}
</script>
