<template></template>
<script>
import MessagingStore from '../../store/modules/messaging'
export default {
  created () {
    this.$store.subscribe((mutation, state) => {
      switch (mutation.type) {
        case MessagingStore.SHOW_ERROR:
          this.$bvToast.toast(mutation.payload, {
            title: 'Application error.',
            variant: 'danger',
            solid: true
          })
          break
      }
    })
  }
}
</script>
