<template>
  <div class="overview-info-box-wrapper">
    <div class="border rounded card info-box overview-info-box" v-bind:class="{ loading: busy }">
      <div class="card-body">
        <div class="card-title">{{ title }}</div>
        <div class="card-text">{{ text }}</div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    title: String,
    text: String,
    busy: Boolean
  }
}
</script>
