<template>
  <div class="border rounded card info-box info-table" v-bind:class="{ loading: busy }">
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    title: String,
    busy: Boolean
  }
}
</script>
