<template>
  <b-container>
    <b-row>
      <b-col cols="12" lg="6">
        <panel title="Info"  :busy="isLoading">
          <b-row>
            <b-col cols="12" lg="6">
              <b-table stacked responsive :items="location" :fields="locationStockFields">
                <template v-slot:cell(stock)="data">
                  <router-link :to="{ name: 'Stock', params: { id: data.item.stock.id }}">{{ data.item.stock.name }}</router-link>
                </template>
                <template v-slot:cell(row)="data">
                  <router-link :to="{ name: 'Row', params: { id: data.item.row.id }}">{{ data.item.row.code }}</router-link>
                </template>
                <template #cell()="data">
                  <b>{{ data.value }}</b>
                </template>
              </b-table>
            </b-col>
            <b-col cols="12" lg="6">
              <b-table stacked responsive :items="location" :fields="locationRowFields">
                <template v-slot:cell(total_products)="data">
                  <b>{{ data.item.total_products.toLocaleString() }}</b>
                </template>
                <template #cell()="data">
                  <b>{{ data.value }}</b>
                </template>
              </b-table>
            </b-col>
          </b-row>
        </panel>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <panel title="Products" :busy="isLoading">
          <b-table hover responsive :items="products" :fields="productsFields">
            <template v-slot:cell(product_name)="data">
              <router-link :to="{ name: 'Product', params: { id: data.item.product_id }}">{{ data.item.product_name }}</router-link>
            </template>
            <template v-slot:cell(category_quantity)="data">
              <span class="inactive">{{ data.item.category_quantity.toLocaleString() }}</span>
            </template>
            <template v-slot:cell(category)="data">
              <span class="inactive">{{ data.item.category }}</span>
            </template>
            <template #cell()="data">
              {{ data.value.toLocaleString() }}
            </template>
          </b-table>
        </panel>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import axios from 'axios'
import MessagingStore from '../store/modules/messaging'
import Panel from './components/Panel'
import {mapMutations} from 'vuex'
import { API_URL } from '../.env'
export default {
  name: 'locationDetails',
  components: {
    Panel
  },
  data () {
    return {
      isLoading: false,
      location: [],
      locationStockFields: [
        {key: 'name', label: 'Name'},
        {key: 'stock', label: 'Stock'},
        {key: 'row', label: 'Row'}
      ],
      locationRowFields: [
        {key: 'rack', label: 'Rack'},
        {key: 'shelf', label: 'Shelf'},
        {key: 'total_products', label: 'Products'}
      ],
      products: [],
      productsFields: [
        {key: 'product_name', label: 'Product name'},
        {key: 'product_code', label: 'Product code'},
        {key: 'on_stock', label: 'Quantity'},
        {key: 'category', label: 'Category'},
        {key: 'category_quantity', label: 'Category Quantity'}
      ]
    }
  },
  mounted () {
    this.loadLocationData()
  },
  methods: {
    ...mapMutations({
      'showError': MessagingStore.SHOW_ERROR
    }),
    mapData (data) {
      let total = 0
      const categoryQuantity = {}
      data.data.products.forEach(product => {
        product.on_stock = parseInt(product.on_stock)
        product.product_code = parseInt(product.product_code)
        total += product.on_stock
        categoryQuantity[product.category] = (categoryQuantity[product.category] || 0) + product.on_stock
      })
      data.data.products.forEach(product => {
        product.category_quantity = categoryQuantity[product.category] || '-'
      })
      data.data.location.total_products = total
      this.location = [data.data.location]
      this.products = data.data.products
    },
    loadLocationData () {
      this.isLoading = true
      const url = API_URL + '/location/' + this.$route.params.code
      const promise = axios.get(url, {})
      return promise.then((data) => {
        this.mapData(data)
      }).catch(() => {
        this.showError('Unable to load location data')
      }).then(() => {
        this.isLoading = false
      })
    }
  }
}
</script>
