<template>
  <b-container>
    <b-row align-content="center">
      <b-col cols="12" sm="6" lg="3">
        <overview-info-box :busy="isOverviewLoading" title="Total products" :text="totalProducts.toLocaleString()"/>
      </b-col>
      <b-col cols="12" sm="6" lg="3">
        <overview-info-box :busy="isOverviewLoading" title="Categories" :text="totalCategories.toLocaleString()"/>
      </b-col>
      <b-col cols="12" sm="6" lg="3">
        <overview-info-box :busy="isOverviewLoading" title="Stocks" :text="totalStocks.toLocaleString()"/>
      </b-col>
      <b-col cols="12" sm="6" lg="3">
        <currency-rate ref="currencyRate"/>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12" lg="6">
        <panel title="Stock list" :busy="isOverviewLoading">
          <b-table hover responsive :items="stocks" :fields="stockFields">
            <template v-slot:cell(name)="data">
              <router-link :to="{ name: 'Stock', params: { id: data.item.id }}">{{ data.item.name }}</router-link>
            </template>
            <template v-slot:cell(total_products)="data">
              <b>{{ data.item.total_products.toLocaleString() }}</b>
            </template>
          </b-table>
        </panel>
      </b-col>
      <b-col cols="12" lg="6">
        <panel title="Categories summary" :busy="isOverviewLoading">
          <b-table hover responsive :items="categories" :fields="categoriesFields">
            <template v-slot:cell(name)="data">
              <b>{{ data.item.name }}</b>
            </template>
            <template v-slot:cell(total)="data">
              <b>{{ data.item.total.toLocaleString() }}</b>
            </template>
            <template #cell()="data">
              {{ data.value.toLocaleString() }}
            </template>
          </b-table>
        </panel>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import OverviewInfoBox from './components/OverviewInfoBox'
import CurrencyRate from './components/CurrencyRate'
import Panel from './components/Panel'
import OverviewStore from '../store/modules/overview'
import {mapGetters, mapActions} from 'vuex'
export default {
  name: 'overview',
  components: {
    OverviewInfoBox,
    CurrencyRate,
    Panel
  },
  data () {
    return {
      stockFields: [
          {key: 'name', label: 'Name'},
          {key: 'code', label: 'Code'},
          {key: 'total_products', label: 'Products'}
      ]
    }
  },
  computed: {
    ...mapGetters([
      'isOverviewLoading',
      'totalProducts',
      'totalCategories',
      'totalStocks',
      'categories',
      'stocks'
    ]),
    categoriesFields () {
      const categoriesFields = [
        {key: 'name', label: 'Category'}
      ]
      this.stocks.forEach(stock => {
        categoriesFields.push({key: 'stock_' + stock.id, label: stock.name})
      })
      categoriesFields.push({key: 'total', label: 'Total'})
      return categoriesFields
    }
  },
  mounted () {
    this.loadOverview()
  },
  beforeDestroy () {
    this.$refs.currencyRate.$destroy()
  },
  methods: {
    ...mapActions({
      'loadOverview': OverviewStore.LOAD
    })
  }
}
</script>
