<template>
  <b-container>
    <b-row>
      <b-col cols="12" lg="4">
        <panel title="Info" :busy="isLoading">
          <b-table stacked responsive :items="product" :fields="productFields">
            <template #cell()="data">
              <b>{{ data.value.toLocaleString() }}</b>
            </template>
          </b-table>
        </panel>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12" lg="4">
        <panel title="Locations" :busy="isLoading">
          <b-table hover responsive :items="locations" :fields="locationsFields">
            <template v-slot:cell(location)="data">
              <router-link :to="{ name: 'Location', params: { code: data.item.location }}">{{ data.item.location }}</router-link>
            </template>
            <template v-slot:cell(on_stock)="data">
              <span class="inactive">{{ data.item.on_stock.toLocaleString() }}</span>
            </template>
          </b-table>
        </panel>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import axios from 'axios'
import MessagingStore from '../store/modules/messaging'
import Panel from './components/Panel'
import {mapMutations} from 'vuex'
import { API_URL } from '../.env'
export default {
  name: 'productDetails',
  components: {
    Panel
  },
  data () {
    return {
      isLoading: false,
      product: [],
      productFields: [
        {key: 'name', label: 'Name'},
        {key: 'code', label: 'Code'},
        {key: 'total_products', label: 'Total on stock'}
      ],
      locations: [],
      locationsFields: [
        {key: 'location', label: 'Location'},
        {key: 'on_stock', label: 'Quantity'}
      ]
    }
  },
  mounted () {
    this.loadProductData()
  },
  methods: {
    ...mapMutations({
      'showError': MessagingStore.SHOW_ERROR
    }),
    mapData (data) {
      let total = 0
      data.data.locations.forEach(location => {
        location.on_stock = parseInt(location.on_stock)
        total += location.on_stock
      })
      data.data.product.total_products = total
      data.data.product.code = parseInt(data.data.product.code)
      this.product = [data.data.product]
      this.locations = data.data.locations
    },
    loadProductData () {
      this.isLoading = true
      const url = API_URL + '/product/' + this.$route.params.id
      const promise = axios.get(url, {})
      return promise.then((data) => {
        this.mapData(data)
      }).catch(() => {
        this.showError('Unable to load location data')
      }).then(() => {
        this.isLoading = false
      })
    }
  }
}
</script>
