<template>
  <b-container>
    <b-row>
      <b-col cols="12" lg="3">
        <panel title="Info" :busy="isLoading">
          <b-table stacked responsive :items="rowData" :fields="rowFields">
            <template v-slot:cell(total_products)="data">
              <b>{{ data.item.total_products.toLocaleString() }}</b>
            </template>
            <template v-slot:cell(stock_name)="data">
              <router-link :to="{ name: 'Stock', params: { id: data.item.stock_id }}">{{ data.item.stock_name }}</router-link>
            </template>
            <template #cell()="data">
              <b>{{ data.value }}</b>
            </template>
          </b-table>
        </panel>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <panel title="Locations" :busy="isLoading">
          <b-table hover responsive :items="locations" :fields="locationsFields">
            <template v-slot:cell(location)="data">
              <router-link :to="{ name: 'Location', params: { code: data.item.location }}">{{ data.item.location }}</router-link>
            </template>
            <template #cell()="data">
              {{ data.value.toLocaleString() }}
            </template>
          </b-table>
        </panel>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import axios from 'axios'
import MessagingStore from '../store/modules/messaging'
import OverviewStore from '../store/modules/overview'
import {mapMutations, mapGetters, mapActions} from 'vuex'
import { API_URL } from '../.env'
import Panel from './components/Panel'
export default {
  name: 'rowDetails',
  components: {
    Panel
  },
  data () {
    return {
      isRowLoading: false,
      row: null,
      totalProducts: 0,
      stock: null,
      rowFields: [
        {key: 'code', label: 'Name'},
        {key: 'stock_name', label: 'Stock'},
        {key: 'total_products', label: 'Products'}
      ],
      locations: [],
      locationsFields: [
        {key: 'location', label: 'Location'},
        {key: 'stock_code', label: 'Stock'},
        {key: 'row_code', label: 'Row'},
        {key: 'rack', label: 'Rack'},
        {key: 'shelf', label: 'Shelf'},
        {key: 'on_stock', label: 'Products'}
      ]
    }
  },
  computed: {
    ...mapGetters([
      'isOverviewLoading'
    ]),
    rowData () {
      if (this.row === null || this.stock === null) {
        return []
      }
      return [{
        code: this.row.code,
        stock_name: this.stock.name || '-',
        stock_id: this.row.stock_id,
        total_products: this.totalProducts
      }]
    },
    isLoading () {
      return this.isRowLoading || this.isOverviewLoading
    }
  },
  mounted () {
    this.loadRowData()
  },
  methods: {
    ...mapMutations({
      'showError': MessagingStore.SHOW_ERROR
    }),
    ...mapActions({
      'loadStock': OverviewStore.LOAD_STOCK
    }),
    mapData (payload) {
      let total = 0
      payload.locations.forEach(location => {
        location['on_stock'] = parseInt(location['on_stock'])
        total += location['on_stock']
      })
      this.totalProducts = total
      this.row = payload.row
      this.locations = payload.locations
    },
    loadRowData () {
      this.isRowLoading = true
      const url = API_URL + '/row/' + this.$route.params.id
      axios.get(url, {}).then((data) => {
        this.mapData(data.data)
        this.loadStock(this.row.stock_id).then((stock) => {
          this.stock = stock || {}
        })
      }).catch(() => {
        this.showError('Unable to load row data')
      }).then(() => {
        this.isRowLoading = false
      })
    }
  }
}
</script>
