<template>
  <b-container>
    <b-row>
      <b-col cols="12" lg="3">
        <panel title="Info" :busy="isLoading">
          <b-table stacked responsive :items="stock" :fields="stockFields">
            <template v-slot:cell(total_products)="data">
              <b>{{ data.item.total_products.toLocaleString() }}</b>
            </template>
            <template #cell()="data">
              <b>{{ data.value }}</b>
            </template>
          </b-table>
        </panel>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <panel title="Rows" :busy="isLoading">
          <b-table hover responsive :items="rows" :fields="rowsFields">
            <template v-slot:cell(row)="data">
              <router-link :to="{ name: 'Row', params: { id: data.item.row.id }}">{{ data.item.row.code }}</router-link>
            </template>
            <template v-slot:cell(total_products)="data">
              {{ data.item.total_products.toLocaleString() }}
            </template>
            <template #cell()="data">
              {{ data.value.toLocaleString() }}
            </template>
          </b-table>
        </panel>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import axios from 'axios'
import MessagingStore from '../store/modules/messaging'
import {mapMutations} from 'vuex'
import { API_URL } from '../.env'
import Panel from './components/Panel'
export default {
  name: 'stockDetails',
  components: {
    Panel
  },
  data () {
    return {
      isLoading: false,
      stock: [],
      stockFields: [
        {key: 'name', label: 'Name'},
        {key: 'code', label: 'Code'},
        {key: 'total_products', label: 'Products'}
      ],
      rows: [],
      rowsFields: [
        {key: 'row', label: 'Row'},
        {key: 'racks', label: 'Racks'},
        {key: 'shelves', label: 'Shelves'},
        {key: 'total_products', label: 'Products'}
      ]
    }
  },
  mounted () {
    this.loadStockData()
  },
  methods: {
    ...mapMutations({
      'showError': MessagingStore.SHOW_ERROR
    }),
    mapData (data) {
      let total = 0
      data.data.rows.forEach(row => {
        row.total_products = parseInt(row.total_products)
        total += row.total_products
      })
      data.data.stock.total_products = total
      this.stock = [data.data.stock]
      this.rows = data.data.rows
    },
    loadStockData () {
      this.isLoading = true
      const url = API_URL + '/stock/' + this.$route.params.id
      const promise = axios.get(url, {})
      return promise.then((data) => {
        this.mapData(data)
      }).catch(() => {
        this.showError('Unable to load stock data')
      }).then(() => {
        this.isLoading = false
      })
    }
  }
}
</script>
