@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/src/index.scss';

.inactive {
  color: $inactive-color;
}

.info-box {
  &.loading {
    background-color: $loading-background-color;
  }
}

.container {
  &.brand-logo {
    vertical-align: middle;
    text-align: center;
    h2 {
      margin: 2rem 0 2rem 0;
      font-weight: $font-weight-bold;
    }
  }
  .overview-info-box-wrapper {
    margin: $component-separator-margin;
    .overview-info-box {
      cursor: pointer;
      height: 8.5rem;
      text-align: center;
      .card-title {
        color: $title-color;
        font-size: $h4-font-size;
      }
      .card-text {
        font-weight: $font-weight-bold;
        font-size: $h1-font-size;
      }
      &:hover {
        border-color: $hover-color !important;
        .card-title {
          color: $hover-color;
        }
        .card-text {
          color: $hover-color;
        }
      }
    }
  }
  .card {
    .card-body {
      .card-title {
        padding: calc(#{$table-cell-padding} * 2) calc(#{$table-cell-padding} * 2) .2rem calc(#{$table-cell-padding} * 2);
        font-weight: $font-weight-bold;
        font-size: 19px;
        line-height: 24px;
      }
      padding: 0;
    }
  }
  .table {
    th, td {
      padding: $table-cell-padding calc(#{$table-cell-padding} * 2);
    }
    th {
      padding-bottom: calc(#{$table-cell-padding} / 2);
    }
  }
  .info-table {
    margin: $component-separator-margin;
    .table-responsive {
      margin: 0;
    }
    .table {
      thead {
        th {
          color: $title-color;
          border-top-width: 0;
        }
      }
      &.b-table-stacked {
        tr {
          > :first-child {
            border-top-width: 0;
          }
          > [data-label] {
            &::before {
              color: $title-color;
              text-align: left !important;
            }
            > div {
              text-align: right !important;
            }
          }
        }
      }
    }
    .row {
      margin: 0;
      > div {
        padding: 0;
      }
      > :not(:first-child) {
        .table {
          &.b-table-stacked {
            tr {
              > :first-child {
                @include media-breakpoint-down('md') {
                  border-top-width: 1px;
                }
              }
            }
          }
        }
      }
    }
  }
}
