$font-family-base: "Mulish";
$font-size-base: 0.875rem !default;
$line-height-base: 1.25 !default;
// $font-weight-light: 400 !default;
// $font-weight-normal: 600 !default;
// $font-weight-bold: 700 !default;
$body-bg: #f7f8fc !default;
$border-radius: 8px !default;
$hover-color: #3751FF !default;
$title-color: #9fa2b4 !default;
$inactive-color: $title-color !default;
$loading-background-color: #fff9da !default;
$table-cell-padding: 1rem !default;
$component-separator-margin: 0 0 30px 0 !default;
$b-table-busy-opacity: 1 !default;
$table-hover-bg: rgba(#3751FF, .04) !default;
$link-decoration: underline !default;
