<template>
<b-container class="brand-logo">
  <messaging />
  <router-link to="/"><img class="img-fluid" src="../assets/logo.png"></router-link>
  <h2>{{ title }}</h2>
</b-container>
</template>
<script>
import Messaging from '../pages/components/Messaging.vue'
export default {
  props: {
    title: String
  },
  components: {
    Messaging
  }
}
</script>
